.container {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  margin-top: 2rem;
  padding: 3rem 2rem 4rem 2rem;
  border-radius: 6px;
}

.form__title {
  color: #777;
  margin-bottom: 1.5rem;
}

.label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  padding: 8px 0;
}

.button {
  margin-top: 1.8rem;
  padding: 9px 10px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  background-color: #059669;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
}
.button:hover {
  color: #059669;
  background-color: #fff;
  border: 1px solid #059669;
}

.input {
  width: 100%;
  padding: 8px 3px;
}

.result__container {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 6px;
}
.title {
  color: #777;
  font-size: 1.2rem;
  font-weight: 400;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.output {
  font-size: 1.2rem;
  color: #555;
  font-weight: 500;
}
